:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color combination */

  --color-one : #EF695D; 
  --color-two : #FAB164; 
  --white: #fdfdfd;
  --black: #242424;
  --grey: #ccc;
  --light-grey: #efefef;
  --dark-grey: #aaa;
  --darker-grey: #777;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
